{% extends "layouts/base.jinja" %}
{% block content %}

    <div class="container-calculatrice">
        <div class="affichage-calculatrice">
        
        </div>
        <div class="clavier-calculatrice">
            <!-- Espace ligne 1 -->
            <div class="">
                <p id="cal_1">1</p>
            </div>
            <div class="">
                <p id="cal_2">2</p>
            </div>
            <div class="">
                <p id="cal_3">3</p>
            </div>
            <!-- Ligne 2 -->
            <div class="">
                <p id="cal_4">4</p>
            </div>
            <div class="">
                <p id="cal_5">5</p>
            </div>
            <div class="">
                <p id="cal_6">6</p>
            </div>
            <!-- Ligne 3 -->
            <div class="">
                <p id="cal_7">7</p>
            </div>
            <div class="">
                <p id="cal_8">8</p>
            </div>
            <div class="">
                <p id="cal_9">9</p>
            </div>
        </div>
    </div>

{% endblock %}