{% extends "/boutique/layouts/base_boutique.jinja" %}
{% block content %}
    <div class="container-website">
        <div class="card-deck">
            <img src=""/>
            <h2>Site 1</h2>
            {% for product in products %}
            
        </div>
    </div>


{% endblock %}