{% extends "layouts/base.jinja" %}
{% block content %}
<section class="section-accueil personal-tab-1" id="home">
    <h4 class="text-interne">Bonjour,</h4>
    <h1 class="text-white">Je m'appelle <span class="text-dark">océance Fourdain</span></h1>
    <a href="http://127.0.0.1:5000/profil" class="btn-personal-accueil">En savoir plus</a>
</section>
{% endblock %}