{% extends "layouts/base.jinja" %}
{% block content %}

<section class="section-profil personal-tab-2" id="profil">
    <div class="profil-container">
     <h2 class="personal-h2">Mon profil</h2>
    <h4 class="titre-profil h4_competence">Qui-suis je ?</h4>
    <p class="section-profil-p">
        Âgé de 22 ans, je suis titulaire d'un BTS SIO option SISR (Service Informatique aux Organisations option Solutions d'Infrastructure, Systèmes et Réseaux) obtenu cette année. Suite à ça j’ai postulé à une formation de développeur web en alternance en ligne chez OpenClassRooms.
    </p>
    <p class="section-profil-p">
        Se parcours se déroule en alternance, et favorise pour ma part l'apprentissage.
        Aux niveau de l'orientation pendant cette formation je souhaite m'orienter vers le réseaux avec une éventuel options en web.
    </p>
    <h4 class="h4_competence">Mes compétences</h4>
    <div class="cart_competence">
        <h5 class="h5_competence ">Mes compétences en réseau</h5>
        <span class="ml-1">Système d'exploitation : </span>
        <div class="progress progress-competence mx-auto w-75 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%; height: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">Windows (Server 2012, windows 10)</div>
        </div>
        <div class="progress progress-competence mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%; height: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">Linux (Debian, ubuntu)</div>
        </div>
        <span class="ml-1 mt-1">Réseau : </span>
        <div class="progress progress-competence mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%; height: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="200">Routeur et Switch Cisco (Vlan, routage, NAT, ACL)</div>
        </div>
        <div class="progress progress-competence mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%; height: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">Services Réseau IPv6 et IPv4(DHCP, DNS, VPN, etc...)</div>
        </div>
        <div class="progress progress-competence mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%; height: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">Haute disponibilité et redondance</div>
        </div>
        <span class="ml-1 mt-1">Virtualisation :</span>
        <div class="progress progress-competence mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%; height: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">Hyperviseur Type 1 (VMware ESXi/ESX)</div>
        </div>
        <div class="progress progress-competence mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%; height: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">Hyperviseur Type 2 (VMware Workstation, VirtualBox)</div>
        </div>
        <span class="ml-1 mt-1">Base de données :</span>
        <div class="progress progress-competence  mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%; height: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">MySQL, MariaDB, SQLserver</div>
        </div>
        <span class="ml-1 mt-1">Service :</span>
        <div class="progress progress-competence mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%; height: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">Apache, PHP, MySQL</div>
        </div>
        <div class="progress progress-competence mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%; height: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">FTP, SFTP, SSH, etc...</div>
        </div>
        <h5 class="h5_competence">Mes compétences en développement</h5>
        <span>Balisage :</span>
        <div class="progress progress-competence mx-auto w-75 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" aria-placeholder="HTML" role="progressbar" style="width: 100%; height: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">HTML</div>
        </div>
        <div class="progress progress-competence mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">CSS</div>
        </div>
        <span class="mt-2">Programmation :</span>
        <div class="progress-competence mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">PHP</div>
        </div>
        <div class="progress-competence mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">Javascript</div>
        </div>
        <div class="progress-competence mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">Jquery</div>
        </div>
        <span class="mt-2">Scripting :</span>
        <div class="progress-competence mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">Powershell</div>
        </div>
        <div class="progress-competence mx-auto w-75 mt-2 rounded-0">
            <div class="progress-bar bg-test progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">Bash</div>
        </div>
    </div>
    </div>
</section>
{% endblock %}